# Investigate the TMDb Movie Data

## Data Wrangling

In this section, we will firstly load in the data, check for cleanliness, and then trim and clean our dataset for analysis.



### General Properties

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import *
plt.style.use('seaborn-white')
%matplotlib inline

NOW, import the data and take a brief look at what the data set is like.

In [ ]:
# load the data
filepath = 'tmdb-movies.csv'
df = pd.read_csv(filepath)

# data records, columns, data type, and missing values check
df.info()

From the above, we can attain a brief summary of the data structure such as how many records, columns are there, which data each column has and which of them have null values. 

Then let's ouptput a few lines to see how these data actually look like in the data set.

In [ ]:
# output the first five rows to see how the data is presented in the data set.
df.head()

From the above, we can see there are 10866 records. There are three data types in total, e.g. ***int***, ***float*** and ***strings***. Some columns like cast, homepage, tagline, production companies have lots of null values. Certain columns, like ‘cast’, ‘genres’ and production companies, contain multiple values separated by pipe ('|') characters. We need to do some tricks on these columns for answering our questions later on.  

Next, let's take a quick view of descriptive statistics summary on the numeric data type in this data set. *See as below*.

In [ ]:
# make a brief descriptive statistics summary on the data
df.describe()

The summary above tells us some important numeric indicators about the movie, such as,  
- the movie data set records the information from 1960 to 2015.
- the average runtime of a movie is 102 mins but the maximum value is 900 mins which needs to be studied on deeper!
- The mimium values of some columns are 0 such as the `budget`, `revenue`. This is against reality. According to the explaination on [Kaggle](https://www.kaggle.com/tmdb/tmdb-movie-metadata?select=tmdb_5000_movies.csv), *'it was necessary to treat values of zero in the budget field as missing.'*, so we may consider this when we are answering buget/revenue related questions.